{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "no-plusplus": "off",

    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": "off",

    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
